@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #B80041;
  --secondary: rgba(207, 81, 134, 1);
  --secondary-two: #1A237E;
  --success: #4caf50;
  --info: #2196f3;
  --warning: #ffeb3b;
  --danger: #f44336;
  --light: #f8f9fa;
  --dark: #343a40;
  --white: #fff;
  --black: #000;
  --transparent: transparent;
}

/* color class */
.secondary-two-color {
  color: var(--secondary-two);
}

.primary-color{
  color: var(--primary);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}